.resume {
    display: flex;
}

@media (max-width: 768px) {
    .resume {
        flex-direction: column-reverse;
    }
}

.posts, .personal {
    box-shadow: var(--block-shadow);
}

.posts {
    max-width: 80%;
    min-width: 500px;
    width: 100vw;
    height: 500px;

    margin-right: 32px;

    padding: 56px 32px;

    background-color: var(--white);
}

.posts img {
    width: 100%;
}

@media (max-width: 768px) {
    .posts {
        max-width: 100%;
        margin-right: 0;
        min-width: auto;
    }
}

.personal {
    max-width: 20%;
    min-width: 200px;
    width: 100vw;
    height: fit-content;

    background-color: var(--white);
}

@media (max-width: 768px) {
    .personal {
        max-width: 100%;
        margin-bottom: 32px
    }
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 32px 50px;
}

.main-info .avatar {
    border-radius: 50%;

    margin-bottom: 16px;
}

.main-info .name {
    font-size: 18px;
    color: var(--black);
    text-align: center;
    margin-bottom: 8px;
}

.main-info .skill {
    font-size: 14px;
    color: var(--second-tx);

    margin-bottom: 16px;
}

.main-info .contacts a:nth-child(2n) {
    margin: 0 8px;
}